{% extends 'base.html' %}
{% block title %}All Games{% endblock %}

{% block js %}
{% endblock %}


{% block body %}
<a href="/users/">Return to user's page</a>
<h1>Find a Game</h1>
<section id="games-search">
  <form action="/" id="games-search-form">
    <input type="text" id="game-search-terms" 
           placeholder="Search for a game...">
    <input type="submit">
  </form>
</section>
<section>
  <table id="games-results">
    <th>Add</th>
    <th>Image</th>
    <th>Name</th>
    <th>Players</th>
    <th>Publisher</th>
  </table>
</section>

{# Bootstrap JS and Popper.js tags #}
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

{# Custom JS script tag #}
<script src="/static/js/allGames.js"></script>
{% endblock %}