{% extends 'base.html' %}
{% block title %}All Games{% endblock %}

{% block js %}
{% endblock %}


{% block body %}
<a href="/users/norrism3">Return to user's page</a>
<h1>Find a Game</h1>
<section id="games-search">
  <form action="/" id="games-search-form">
    <input type="text" id="game-search-terms" 
           placeholder="Search for a game...">
    <input type="submit">
  </form>
</section>
<section>
  <table id="games-results">
    <th>Add</th>
    <th>Image</th>
    <th>Name</th>
    <th>Players</th>
    <th>Publisher</th>
  </table>
</section>

<script src="/static/js/allGames.js"></script>
{% endblock %}