{% extends 'base.html' %}
{% block title %}Marketplace{% endblock %}

{% block js %}
{% endblock %}


{% block body %}
<a href="/users/">Return to user's page</a>
<h1>Marketplace</h1>
<section id="listings-search">
  <form action="/" id="listings-search-form">
    <input type="text" 
           class="listings-search-field" 
           id="listings-search-terms" 
           placeholder="Search for a game...">
    <input type="submit"
           class="listings-search-field">
  </form>
</section>

<div id="back-to-listings-search">
  <button>
    Return to main search
  </button>
</div>

<form>
  Show:
  <select name="view" id="view-selector">
    <option value="all">All Games</option>
    <option value="wishlist" id="view-wishlist">
      Wishlist Matches
    </option>
    <option value="rec" id="view-rec" disabled>
      Recommended for You
    </option>
  </select>
</form>

<div id="rec-criteria"></div>

<section>
  <table id="listings-results">
    <th>Image</th>
    <th>Name</th>
    <th>Condition</th>
    <th>Price</th>
    <th>Seller</th>
    <th>Contact</th>
  </table>
</section>

<div class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="modal-body">
      <p class="list-details" id="list-img"></p>
      <h2 class="list-details" id="list-game-name"></h2>
      <p class="list-details" id="list-rec"></p>
      <p class="list-details" id="list-condition"></p>
      <p class="list-details" id="list-price"></p>
      <p class="list-details" id="list-msrp"></p>
      <p class="list-details" id="list-email"></p>
      <p class="list-details" id="list-other-games"></p>
      <p class="list-details" id="list-comment"></p>
      <p class="list-details" id="list-min-age"></p>
      <p class="list-details" id="list-players"></p>
      <p class="list-details" id="list-playtime"></p>
      <p class="list-details" id="list-publisher"></p>
      <p class="list-details" id="list-designers"></p>
      <p class="list-details" id="list-year"></p>
      <p class="list-details" id="list-description"></p>
      <p class="list-details" id="list-mechanics"></p>
      <p class="list-details" id="list-categories"></p>

    </div>
  </div>
</div>

<script src="/static/js/marketplace.js"></script>
{% endblock %}