{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}

{% block js %}
{% endblock %}


{% block body %}

<div class="container" id="signup-container">
  <div class="row">
    <div class="col">
      <h1>Join the Village</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-6 mx-auto text-right">
      <form action="/process-sign-up" method="POST" id="signup-form">

        <div id="email-field" class="form-group row">
          <label for="email-input" class="col-sm-4 col-form-label">Email: </label>
          <div class="col-sm-8">
            <input type="email" name="email" id="email-input" class="col" value="{{ email }}" required />
            {% if email_warning %}
              An account already exists with that email
            {% endif %}
          </div>
        </div>
      
        <div class="form-group row">
          <label for="first-name-input" class="col-sm-4 col-form-label">First Name: </label>
          <div class="col-sm-8">
            <input type="text" name="fname" id="first-name-input" class="col" value="{{ fname }}" required>
          </div>
        </div>

        <div class="form-group row">
          <label for="last-name-input" class="col-sm-4 col-form-label">Last Name: </label>
          <div class="col-sm-8">
            <input type="text" name="lname" id="last-name-input" class="col" value="{{ lname }}" required>
          </div>
        </div>

        <div class="form-group row">
          <label for="birthdate" class="col-sm-4 col-form-label">Birthdate: </label>
          <div class="col-sm-8">
            <input type="date" name="birthdate" id="birthdate" class="col" value="{{ birthdate }}">
          </div>
        </div>

        <div class="form-group row">
          <label for="username-input" class="col-sm-4 col-form-label">Username: </label>
          <div class="col-sm-8">
            <input type="text" name="username" id="username-input" class="col" value="{{ username }}" required>
            {% if username_warning %}
              This username is already taken
            {% endif %}
          </div>
        </div>

        <div class="form-group row">
          <label for="password-input" class="col-sm-4 col-form-label">Password: </label>
          <div class="col-sm-8">
            <input type="password" name="password" id="password-input" class="col" required>
            {% if password_warning %}
              Entered passwords did not match
            {% endif %}
          </div>
        </div>

        <div class="form-group row">
          <label for="repeat-password-input" class="col-sm-4 col-form-label">Re-type Password: </label>
          <div class="col-sm-8">
            <input type="password" name="repeat-password" id="repeat-password-input" class="col" required>
          </div>
        </div>

        <div class="form-group row">
          <div class="col mx-auto text-center">
            <button type="submit" class="btn btn-primary">
              Sign Up
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{# Bootstrap JS and Popper.js tags #}
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

{# Custom JS script tag #}
<script src="/static/js/signup.js"></script>
{% endblock %}