{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block js %}
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/users/">BGVillage</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/users/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/games">Add Games</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/marketplace">
          Marketplace
        </a>
      </li>
    </ul>
    <span class="navbar-text">
      <a class="btn btn-outline-secondary" href="/logout">Logout</a>
    </span>
  </div>
</nav>

<h1>{{ username }}'s Home</h1>

<section>
  <h2>Board Game Shelf</h2>
  <button id="own-button">Own</button>
  <button id="sell-button">Sell</button>
  <button id="wishlist-button">Wishlist</button>
  <div>
    <div id="above-games-table"></div>
    <table id="games-table">
    </table>
  </div>
</section>

<div class="modal" id="own-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">
          <span class="close">&times;</span>
        </button>
        <p class="game-details" id="user-game-img"></p>
        <h2 class="game-details" id="user-game-name"></h2>
        <p class="game-details" id="user-game-msrp"></p>
        <p class="game-details" id="user-game-img"></p>
        <p class="game-details" id="user-game-min-age"></p>
        <p class="game-details" id="user-game-players"></p>
        <p class="game-details" id="user-game-playtime"></p>
        <p class="game-details" id="user-game-publisher"></p>
        <p class="game-details" id="user-game-designers"></p>
        <p class="game-details" id="user-game-year"></p>
        <p class="game-details" id="user-game-description"></p>
        <p class="game-details" id="user-game-mechanics"></p>
        <p class="game-details" id="user-game-categories"></p>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="sell-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">
          <span class="close">&times;</span>
        </button>
        <form id="listing-form" action="/api/create-listing">
          <p class="list-details" id="user-list-img"></p>
          <h2 class="list-details" id="user-list-game-name"></h2>
          <p class="list-details" id="user-list-msrp"></p>
          <p class="list-details" id="user-list-condition">
            <select name="condition" id="listing-condition" required>
              <option value="" disabled selected>Game Condition</option>
              <option value="New">New</option>
              <option value="Like New">Like New</option>
              <option value="Very Good">Very Good</option>
              <option value="Good">Good</option>
              <option value="Acceptable">Acceptable</option>
            </select>
          </p>
          <p class="list-details" id="user-list-price">
            <input type="text" 
                   name="price" 
                   id="listing-price"
                   placeholder="Enter Price"
                   required>
            </input>
          </p>
          <p class="list-details" id="user-list-comment">
            <textarea name="comment" id="listing-comment" form="#listing-form" placeholder="Optional comment"></textarea>
          </p>
          <p class="list-details">
            <button type="submit" id="user-list-button"></button>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>

{# Bootstrap JS and Popper.js tags #}
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

{# Custom JS script tag #}
<script src="/static/js/userPage.js"></script>
{% endblock %}