{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block js %}
{% endblock %}

{% block body %}
<a href="/marketplace">Visit the Marketplace</a>
<h1>{{ username }}'s Home</h1>

<section>
  <h2>Board Game Shelf</h2>
  <button id="own-button">Own</button>
  <button id="sell-button">Sell</button>
  <button id="wishlist-button">Wishlist</button>
  <div>
    <div id="above-games-table"></div>
    <table id="games-table">
    </table>
  </div>
</section>

<script src="/static/js/userPage.js"></script>
{% endblock %}